<header>
  <h1 align="center">Contact The Bike Shop</h1>
</header>
<br>

<div class="container forms">
  <%= flash[:notice] %>

  <%= form_tag("/static_pages/thank_you") do %>
      <div class="form-group">
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true %>
      </div>      
      <div class="form-group">
        <%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
      </div>
      <div class="form-group">
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
      </div>      
  <%= submit_tag "Send", class: "btn btn-primary send-button" %>   
  <% end %>
</div><!-- end container -->

