

<div class="container">
  <div class="row">
    <div class="col-sm-offset-0 col-sm-6" align="center">
      <a href="#">
        <%= image_tag("topvisual1.png", class: "thumbnail img-responsive") %>
      </a>
    </div>
    <div class="col-sm-6" align="center">
      <a href="#">
        <%= image_tag("topvisual2.png", class: "thumbnail img-responsive") %>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#">
        <%= image_tag("banner2.jpg", class: "thumbnail img-responsive") %>
      </a>
      <h2 class="event_title_" align="center"> TOP SELLERS </h2> 		
    </div>
  </div>
  <div class="row" align="center">
        <div class="col-sm-offset-0 col-sm-3">
        	 <%= image_tag("bike2.jpg", size: "180x180", class: "thumbnail img-responsive") %>
              <div class="panel1">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader1">$6000</h6>
              </div>
        </div>
        <div class="col-sm-3">
        	 <%= image_tag("bike1.jpg", size: "180x180", class: "thumbnail img-responsive") %>
              <div class="panel1">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader1">$600</h6>
              </div>
        </div>
        <div class="col-sm-3">
        	 <%= image_tag("bike3.jpg", size: "180x180", class: "thumbnail img-responsive") %>
              <div class="panel1">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader1">$600</h6>
              </div>
        </div>
        <div class="col-sm-3">
        	 <%= image_tag("bike4.jpg", size: "180x180", class: "thumbnail img-responsive") %>
          <div class="panel1">
            <h5>Custom Bike Product</h5>
            <h6 class="subheader1">$600</h6>
          </div>
        </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#">
        <%= image_tag("BANNER.jpg", size: "980x180", class: "thumbnail img-responsive") %>
    	</a>
    </div>
  </div>
</div>

