<!DOCTYPE html>
<html>
  <head>
    <title>The Bike Shop | Modern Bikes </title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
       <div class="free-shipping-offer">Enjoy free shipping on all orders. <a href="#" target="_blank">Learn more</a>
          </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="img-responsive" href="/"><%= image_tag("LOGO.jpg", class: "logo1") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <!-- Sign up Log in -->
            <div class="navbar-form navbar-right">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"btn btn-default" ) %>
            <%= link_to('Edit User', edit_user_registration_path, :method => :get, class:"btn btn-default" ) %> 
          <% else %>
            <%= link_to('Login', new_user_session_path, :method => :get, class:"btn btn-default" ) %>
            <%= link_to('Register', new_user_registration_path, :method => :get, class:"btn btn-default" ) %>  
          <% end %>
        </div>
          <!-- Search Box -->
          <form class="navbar-form navbar-right" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /> 
            <div class="form-group">
              <label class="hidden" for="q">Search for:</label>
              <input type="text" name="q" id="q" value="" class="form-control" placeholder="Search" />
            </div>
          <input type="submit" name="commit" value="Search" class="btn btn-default" data-disable-with="Search" />
  </form>

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/products">Catalog</a></li>
            <li class="active"><a href="/static_pages/about">About</a></li>
            <li class="active"><a href="/static_pages/contact">Contact Us</a></li>
            
            
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>  

    <% if notice %>
      <div id="notice" class="alert alert-warning"><%= notice %></div>
        <% end %>
        <% if alert %>
      <div id="alert" class="alert alert-danger"><%= alert %></div>
    <% end %>

    <div class="page-wrap">
    <%= yield %>
     </div><!--end page-wrap-->
    <footer class="allfooter">
    <div class="footer_container">
      <div class="col-sm-12"> <h3>The Bike shop | Custom Bikes for a happy trail</h3></div>
        <div class="col-sm-6">
          <ul>
            <li><a href="#" class="social_icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social_icons"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social_icons"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social_icons"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul></div>
        <div class="col-sm-6">  <a href="#" class="btn btn_secondary">Contact Us</a></div>
      </div>
      <br>
    </footer>

   
  </body>
</html>
