<!DOCTYPE html>
<html>
  <head>
    <title>The Bike Shop | Modern Bikes </title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="header-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="free-shipping-offer">Enjoy free shipping on all orders. <a href="#" target="_blank">Learn more</a>

          </div>

        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <%= image_tag("LOGO.jpg", class: "logo1") %>
          <nav>
            <a><%= link_to 'Home', root_path %></a>
            <!-- <li><a href="#">About</a></li> -->
            <a><%= link_to 'About', static_pages_about_path %></a>
            <!-- <li><a href="#">Contact</a></li> -->
            <a><%= link_to 'Contact', static_pages_contact_path %></a>

            

        <!-- Search Box -->
        <%= form_tag("/products", method: "get", class:"navbar-form navbar-right") do %> 
          <div class="form-group">
            <%= label_tag(:q, "Search for:", class:"hidden") %>
            <%= text_field_tag(:q, "", type:"text", class:"form-control", placeholder:"Search") %>
          </div>
        <%= submit_tag("Search", class:"btn btn-default") %>
        <% end %>
        <!-- End Search Box -->

          </nav>
        </div>
      </div>
    </div>


    <%= yield %>
    <footer class="allfooter">
    <div class="footer_container">
      <div class="col-sm-12"> <h3>The Bike shop | Custom Bikes for a happy trail</h3></div>
        <div class="col-sm-6">
          <ul>
            <li><a href="#" class="social_icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social_icons"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social_icons"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social_icons"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul></div>
        <div class="col-sm-6">  <a href="#" class="btn btn_secondary">Contact Us</a></div>
      </div>
      <br>
    </footer>

   
  </body>
</html>
